/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1280px) {
  .header-right .header-social-container a {
    padding: 0 0.5rem;
  }
  .header-right .header-right-wrapper .nav-link {
    padding: 0.5rem 0.8rem;
  }
  .main-hero-container h1 {
    font-size: 1.8rem;
    line-height: 3rem;
    margin-top: 0.5rem;
  }
  .main-hero-container .main-hero-picture img {
    margin-top: -2rem;
  }
  .row-about .main-about-item .main-about-item-wrapper {
    padding: 1rem 1rem;
  }
}
/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
  .main-hero-container h1 {
    font-size: 1.7rem;
    line-height: 2.8rem;
    margin-top: 1rem;
  }
  .main-about-container {
    padding: 3vh 1rem;
  }
  .row-about article:nth-child(1) {
    padding-right: 1rem;
  }
  .row-about article:nth-child(2) {
    padding-left: 1rem;
  }
  .row-about .main-about-item .main-about-item-wrapper {
    font-size: 1.1rem;
    padding: 1rem 1rem;
    padding-bottom: 0;
    line-height: 1.8rem;
  }
  .main-services-container .main-services-content .main-services-content-wrapper {
    font-size: 1.1rem;
    padding-right: 1rem;
  }
  .main-services-container .main-services-content h2 {
    font-size: 2.5rem;
    text-indent: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .main-hero-container h1 {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .main-hero-container {
    padding: 10vh 1rem;
    padding-top: 10vh;
  }
  .main-hero-container .main-hero-picture {
    text-align: center;
  }
  .main-hero-container .main-hero-picture img {
    margin-top: 0;
    max-width: 70%;
  }
  .main-about-item picture {
    text-align: center;
  }
  .main-about-item picture img {
    max-width: 70%;
  }
  .main-values-container .main-values-item {
    margin-bottom: 2.5rem;
  }
  .main-values-container .main-values-item .media-body h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .main-services-container {
    padding: 5vh 1rem;
  }
}
/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 600px
-------------------------------------------------------------- */
@media (max-width: 533px) {
  .header-mobile-right-wrapper {
    padding: 0 5.5vw;
  }
  .main-hero-container h1 {
    font-size: 1.7rem;
    line-height: 2.6rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .row-about .main-about-item .main-about-item-wrapper {
    font-size: 1.2rem;
    padding: 1rem 1rem;
    padding-bottom: 0;
    line-height: 1.8rem;
  }
}
@media (max-width: 424px) {
  .main-hero-container .main-hero-picture img {
    margin-top: 0;
    max-width: 100%;
  }
  .main-about-item picture img {
    max-width: 100%;
  }
}
@media (max-width: 375px) {
  .main-hero-container h1 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
