/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #B70000;
  text-decoration: none;
}
.page-container {
  min-height: 75vh;
}
/* LOADER */
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: loader-spin 1.2s linear infinite;
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
  position: relative;
  background-color: #ffffff;
  padding: 1rem;
}
.header-right .header-right-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-right .header-right-wrapper .nav-link {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
}
.header-right .header-right-wrapper .nav-link:hover {
  color: #B70000;
}
.header-right .header-social-container {
  font-size: 1.5rem;
  padding-left: 1rem;
}
.header-right .header-social-container a {
  color: #000000;
  padding: 0 1rem;
}
.header-right .header-social-container a:hover {
  color: #B70000;
}
.header-mobile-social-container {
  text-align: right;
  font-size: 1.2rem;
  padding-right: 1rem;
}
.header-mobile-social-container a {
  color: #000000;
  padding: 0 0.5rem;
}
.header-mobile-social-container a:hover {
  color: #B70000;
}
.header-mobile-icon {
  font-size: 1.5rem;
  text-align: right;
  padding-right: 0.5rem;
}
.header-mobile-icon #menuMobileBtn {
  background: none;
  border: 0;
}
.header-mobile-right-wrapper {
  position: absolute;
  top: 90%;
  left: 0;
  z-index: 1;
  background: white;
  width: 100%;
  padding: 0 8.5vw;
}
.header-mobile-right-wrapper .nav-link {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
}
.header-mobile-right-wrapper .nav-link:hover {
  color: #B70000;
}
.header-mobile-hidden {
  z-index: -1;
  top: 0;
}
/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
  background-color: #000000;
  color: #ffffff;
  padding: 2.5rem;
}
.the-footer .footer-item ul {
  list-style: none;
  margin: 0;
  padding: 1.3rem;
}
.the-footer .footer-item ul li h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.the-footer .footer-item ul li a {
  color: #ffffff;
}
.the-footer .footer-item ul li a:hover {
  color: #B70000;
}
.the-footer .footer-item ul li .textwidget {
  font-size: 0.9rem;
}
.the-footer .footer-item ul li .menu {
  padding: 0 !important;
}
.the-footer .footer-item ul li .menu a {
  padding-left: 0 !important;
}
.the-footer .footer-item ul li .menu a:hover {
  color: #B70000 !important;
}
/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.main-hero-container {
  padding: 20vh 1rem;
  padding-top: 23vh;
}
.main-hero-container h1 {
  font-size: 2.2rem;
  line-height: 3rem;
  margin-top: 1.5rem;
}
.main-hero-container .main-hero-picture img {
  margin-top: -5rem;
}
.main-about-container {
  padding: 15vh 1rem;
}
.row-about article:nth-child(1) {
  padding-right: 3rem;
}
.row-about article:nth-child(2) {
  padding-left: 3rem;
}
.row-about .main-about-item picture {
  display: block;
}
.row-about .main-about-item .main-about-item-wrapper {
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem 3rem;
  padding-bottom: 0;
  font-weight: 700;
  line-height: 2.1rem;
}
.row-about .main-about-item .main-about-item-wrapper h2 {
  color: #B70000;
  font-weight: 700;
  font-size: 2.3rem;
}
.main-values-container {
  background-color: #000000;
  color: #ffffff;
  padding: 5vh 1rem;
}
.main-values-container .main-values-title {
  text-align: center;
  padding-bottom: 3rem;
}
.main-values-container .main-values-title h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.main-values-container .main-values-item {
  margin-bottom: 1.5rem;
}
.main-values-container .main-values-item .media-body {
  padding-left: 1.5rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.main-values-container .main-values-item .media-body h3 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: 600;
}
.main-services-container {
  padding: 10vh 1rem;
}
.main-services-container .main-services-content h2 {
  font-size: 3rem;
  text-indent: 2rem;
  margin-bottom: 3rem;
  color: red;
}
.main-services-container .main-services-content .main-services-content-wrapper {
  font-size: 1.4rem;
  padding-right: 2.5rem;
  font-weight: 400;
}
.main-contact-container {
  padding: 10vh 1rem;
}
.main-contact-container .main-contact-title {
  text-align: center;
  padding-bottom: 4rem;
}
.main-contact-container .main-contact-content {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}
.main-contact-container .main-contact-content a {
  color: black;
  font-size: 1.8rem;
  font-weight: 800;
  margin: 1.5rem 0;
  display: block;
}
.main-contact-container .main-contact-content h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.shortcode-social-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shortcode-social-container a {
  color: #B70000 !important;
  margin: 0 1rem !important;
  margin-bottom: 1.5rem !important;
}
.custom-form-control-container {
  margin-bottom: 1rem;
}
.custom-form-control-container label {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin-bottom: 0.8rem;
  width: 100%;
}
.custom-form-control-container .btn-submit {
  font-family: 'Open Sans', sans-serif;
  background: white;
  border: 2px solid black;
  border-radius: 0;
  width: 100%;
  padding: 1rem;
  font-weight: 700;
}
